/* contacto.component.css */

.contacto {
    padding: 200px;
  }
  
  .contacto h2 {
    color: #ffffff;
    text-align: center;
    font-size: 46px;

  }
  
  .contacto p {
    color: #ffffff;
    font-size: 30px;
    text-align: center;

  }
  
  .formulario-contacto {
    margin-top: 30px;
  }
  
  .formulario-contacto p {
    margin-bottom: 20px;
    text-align: center;

  }
  
  .redes-sociales {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .redes-sociales li {
    margin-right: 20px;
  }
  
  .redes-sociales img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .redes-sociales img:hover {
    transform: scale(1.6);
  }
  
/* Para móviles */
@media only screen and (max-width: 600px) {

  .contacto {
    padding: 20px;
    margin-top: 200px;

  }
  
  .contacto h2 {
    color: #ffffff;
    text-align: center;
    font-size: 28px;

  }
  
  .contacto p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;

  }
  
  .formulario-contacto {
    margin-top: 50px;
  }
  
  .formulario-contacto p {
    margin-bottom: 20px;
    text-align: center;

  }
  
  .redes-sociales {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .redes-sociales li {
    margin-right: 18px;
  }
  
  .redes-sociales img {
    width: 60px;
    height: 60px;
    margin-bottom: 250px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .redes-sociales img:hover {
    transform: scale(1.6);
  }
}